.manager-menu-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3열 */
    grid-template-rows: repeat(2, 1fr);
    /* 2행 */

    gap: 8px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.manager-menu-btn {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    font-size: 1rem;
    border: none;
    border-radius: 6px;

    background-color: white;
    cursor: pointer;
    transition: all 0.15s ease;
}

.manager-menu-icon {
    font-size: 2.75rem;
    color: #1f2937;
}

.manager-menu-label {
    margin: 0;
    font-size: 2rem;
    line-height: 1;
}

.manager-menu-btn span {
    margin-top: 0;
    font-size: 1.05rem;
    color: #475467;
}

.manager-menu-btn:hover {
    background-color: #eaeaea;
}

.manager-menu-btn:active {
    transform: scale(0.97);
}

/* 위험 버튼 */
.manager-menu-btn.manager-danger {
    background-color: #ffe5e5;
}

.manager-menu-btn.manager-danger .manager-menu-icon {
    color: #c9190b;
}

/* 돌아가기 버튼 */
.manager-menu-btn.manager-back {
    background-color: #e6f0ff;
}

.manager-menu-btn.manager-back .manager-menu-icon {
    color: #175cd3;
}
